/*左画面*/
.sentaku{
    color: #000000;
    font-size: 24px;
    text-align: center;
    background: #E5F0F8;
    width: 400px;
    height: 700px;
    white-space: pre;
}

/*左画面で選択されている部分*/
#box{
    background-color: white;
    border-radius: 10px;
    padding: 3% 5%;
}

/*右画面*/
.rightzentai{
    margin-top: -45.3%;
    margin-left: 1%;
}

.l1{
    font-size: 24px;
    background: white;
    width: 30em;
    margin-left: 27%;
    white-space: pre;
}

#country{
    font-family: Roboto;
    font-size: 100%;
    text-align: left;
    margin-top: -1%;
    border-radius: 15%;
    width: 35%;
    height: 2.5REM;
}

.list{
    margin-left: 31.5%;
    margin-top: 1%;
    width: 65%;
}

td{
    padding-bottom: 45%;
}

#add{
    font-size: 20px;
    text-align: center;
    margin-left: 90.5%;
    margin-top: 3%;
    border-radius : 10px;
    cursor        : pointer;     /* カーソル   */
    padding       : 15px 21px;   /* 余白       */
    background: #FCC324;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    line-height   : 0.5em;         /* 1行の高さ  */
}


